{% load humanize %}

<div class="space-y-4 mt-6">
  {% for comment in comments %}
  <div class="bg-base-200 p-4 rounded-xl">
    <div class="flex items-center mb-2">
      <div class="avatar">
        <div class="w-8 h-8 rounded-full">
          <img
            class="rounded-full"
            src="{{comment.user.image.url}}"
            alt="{{comment.user.username}}"
          />
        </div>
      </div>
      <div class="ml-2">
        <p class="font-semibold">
          {{comment.user.first_name}} {{comment.user.last_name}}
        </p>
        <p class="text-sm text-base-content/70">
          {{ comment.created_at | naturaltime}}
        </p>
      </div>
    </div>
    <p>{{ comment.comment }}</p>
  </div>
  
  {% empty %}
  <p class="text-base">No comments yet. Be the first to comment!</p>
  {% endfor %}
</div>
