<div class="max-w-4xl mx-auto">
  <h1 class="text-3xl font-bold mb-8">Edit Profile</h1>
  <form class="space-y-6" method="post">
    {% csrf_token %}
    <div class="flex flex-col md:flex-row gap-6">
      <div class="form-control flex-1">
        <label for="first-name" class="label">
          <span class="label-text">First Name</span>
        </label>
        {{form.first_name}}
      </div>
      <div class="form-control flex-1">
        <label for="last-name" class="label">
          <span class="label-text">Last Name</span>
        </label>
        {{form.last_name}}
      </div>
    </div>
    <div class="form-control">
      <label for="bio" class="label">
        <span class="label-text">Bio</span>
      </label>
      {{form.bio}}
    </div>
    <div class="form-control">
      <label for="profile-picture" class="label">
        <span class="label-text">Profile Picture</span>
      </label>
      {{form.image}}
    </div>

    <div class="flex justify-end space-x-4">
      <button
        type="button"
        id="cancel"
        class="btn btn-outline"
        onclick="document.getElementById('overlay').classList.add('hidden')"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </form>
</div>
