{% extends "base/base.html" %} {% block body %}

<!-- Hero Section -->

<header class="hero bg-base-200 py-16">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Technical Blog</h1>
      <p class="py-6">
        A resource for technical insights and discussions. We share knowledge
        about coding, system design, and development trends.
      </p>
    </div>
  </div>
</header>

<!-- Featured Posts -->
<div class="max-w-7xl mx-auto p-4 sm:px-6 my-16">
  <h2 class="text-2xl font-semibold mb-8">Featured Posts</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Featured Post Card 1 -->
    {% for post in latest_post %}

    <div
      class="bg-gradient-to-br hover:scale-105 transition-transform duration-300 {% cycle 'from-blue-900 to-purple-900' 'from-green-900 to-blue-900' 'from-purple-900 to-pink-900' %} rounded-lg overflow-hidden"
    >
      <a href="{% url 'post' post.slug %}">
        <img
          src="{{ post.image.url|default:'https://placehold.co/400x300' }}"
          alt="Blog post"
          class="w-full h-48 object-cover"
      /></a>
      <div class="p-6">
        <h3 class="text-xl text-gray-300 font-semibold mb-2">
          <a href="{% url 'post' post.slug %}"> {{post.title}} </a>
        </h3>
        <p class="text-gray-300 mb-4">{{ post.description|truncatewords:9 }}</p>
        <div class="flex items-center text-sm text-gray-400">
          <span>{{post.created_at|date:"F d, Y"}}</span>
          <span class="mx-2">•</span>
          <span>{{post.read_time}} min read</span>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

<!-- All Posts -->
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-16">
  <h2 class="text-2xl font-semibold mb-8">All Posts</h2>

  <input
    type="text"
    name="query"
    hx-get="?search"
    hx-target="#post-list"
    hx-swap="innerHTML"
    hx-push-url="true"
    hx-boost="true"
    hx-trigger="keyup delay:500ms"
    value="{{ query }}"
    placeholder="Search posts..."
    class="input input-bordered w-full my-4"
    hx-indicator=".htmx-indicator"
  />

  <!-- Tags -->
  <div class="flex flex-wrap gap-2 mb-8">
    {% for tag in tags.all %}
    <!-- Just to keep it in place -->

    {% with "?tag="|add:tag.tag as tag_query %}
    <!-- Just to keep it in place -->

    {% if query %}
    <!-- Just to keep it in place -->

    {% with tag_query|add:"&query="|add:query as tag_query %}
    <!-- Just to keep it in place -->
    {% endwith %}
    <!-- Just to keep it in place -->

    {% endif %}
    <button
      hx-get="?tag={{ tag.tag }}&query={{ query|default:'' }}"
      hx-target="#post-list"
      hx-swap="innerHTML"
      hx-push-url="true"
      class="btn btn-outline rounded-full"
    >
      {{ tag }}
    </button>
    {% endwith %} {% endfor %}
  </div>

  <!-- Posts Grid -->
  <div id="post-list">
    {% include 'base/partials/post_list.html' %}
    <div class="htmx-indicator my-4 text-center hidden">
      <span class="loading loading-spinner loading-sm"></span>
      Loading posts...
    </div>
  </div>
</div>
{% endblock body %}
